h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1em;
}

.page-title {
    color: blue;
    font-size: 2em;
    font-weight: bold;
}

.error-message {
    color: red;
}

.info-text-icon {
    background: url('/static/img/info.png');
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.stock-external-page-link:hover {
    text-decoration: none;
}
.stock-external-page-link img {
    width: 24px;
    height: 24px;
}
