{% extends "layout.html" %}

{% block body %}

<span class="page-title">Stocks</span>

<table id="stocks-table" class="table table-striped table-hover table-condensed">
	<thead>
		<tr>
			<th colspan="2">Company</th>
			<th colspan="2">Debt</th>
			<th colspan="2">Growth rate</th>
			<th colspan="4">Valuation</th>
			<th>Dividends</th>
			<th>Tools</th>
		</tr>
		<tr>
			<th>Name and stock symbol</th>
			<th>Rating</th>
			<th>Current ratio</th>
			<th>Debt ratio</th>
			<th>EPS ann [positive %]</th>
			<th>EPS qrt [pace %]</th>
			<th>P/E [avg %]</th>
			<th>Price/Book [avg %]</th>
			<th>Price/Sales [avg %]</th>
			<th>Price/Cash Flow [avg %]</th>
			<th>Yield [%]</th>
			<th>External links</th>
		</tr>
	</thead>

	<tbody>
		{% for data in stocks_data %}
		<tr>
			{% if data.error is none %}
			{% set company = data.financials.company %}
			{% else %}
			{% set company = data.symbol %}
			{% endif %}
			
			{% set current_ratio_class = 'success' if data.evaluation.current_ratio else 'danger' %}
			{% set debt_ratio_class = 'success' if data.evaluation.debt_ratio else 'danger' %}
			{% set eps_annual_positive_class = 'success' if data.evaluation.eps_annual_positive else 'danger' %}
			{% set eps_quarterly_pace_class = 'success' if data.evaluation.eps_quarterly_pace else 'danger' %}
			{% set pe_class = 'success' if data.evaluation.pe else 'danger' %}
			{% set pb_class = 'success' if data.evaluation.pb else 'danger' %}
			{% set ps_class = 'success' if data.evaluation.ps else 'danger' %}
			{% set pcf_class = 'success' if data.evaluation.pcf else 'danger' %}
			{% set div_stock_class = 'success' if data.evaluation.div_stock else 'danger' %}			

			<td>{{ company }}</td>
			<td>{{ data.evaluation.rating }}</td>
			<td class="{{ current_ratio_class }}">{{ data.financials.current_ratio[0] }}</td>
			<td class="{{ debt_ratio_class }}">{{ data.financials.debt_ratio[0] }}</td>
			<td class="{{ eps_annual_positive_class }}">{{ data.financials.eps_annual_positive }}</td>
			<td class="{{ eps_quarterly_pace_class }}">{{ data.financials.eps_quarterly_pace }}</td>
			<td class="{{ pe_class }}">{{ data.valuation.pe }} </td>
			<td class="{{ pb_class }}">{{ data.valuation.pb }} </td>
			<td class="{{ ps_class }}">{{ data.valuation.ps }} </td>
			<td class="{{ pcf_class }}">{{ data.valuation.pcf }} </td>
			<td class="{{ div_stock_class }}">{{ data.valuation.div_stock }}</td>
			<td>
				<a href="https://finviz.com/quote.ashx?t={{ data.symbol }}" target="_blank" class="stock-external-page-link">
					<img src="{{ url_for('static', filename='img/stocks-external-links/finviz.png') }}" title="finviz chart for {{ data.symbol }}" />
				</a>

				<a href="https://www.tradingview.com/chart/?symbol={{ data.symbol }}" target="_blank" class="stock-external-page-link">
					<img src="{{ url_for('static', filename='img/stocks-external-links/tradingview.ico') }}" title="tradingview chart for {{ data.symbol }}" />
				</a>

				<a href="https://finance.yahoo.com/quote/{{ data.symbol }}" target="_blank" class="stock-external-page-link">
					<img src="{{ url_for('static', filename='img/stocks-external-links/yahoo-finance.ico') }}" title="Yahoo Finance page for {{ data.symbol }}" />
				</a>

				<a href="https://finance.google.com/finance?q={{ data.symbol }}&ei=Ftb8WaDmEoPYswHV9YnwBg" target="_blank" class="stock-external-page-link">
					<img src="{{ url_for('static', filename='img/stocks-external-links/google-finance.ico') }}" title="Google Finance page for {{ data.symbol }}" />
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if error|length %}
<span class="error-message">Error: {{ error[0] }}</span>
{% endif %}

<script type="text/javascript">
	$(document).ready(function() {
		var table_prefs = {
			scrollY: '70vh',
			scrollX: true,
	        scrollCollapse: true,
	        paging: false,
	    	"order": [[ 1, "desc" ]]
		};

    	$('#stocks-table').DataTable(table_prefs);
	});
</script>

{% endblock %}
